body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
}

input,
textarea,
button,
label {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 16px;
}

button,
input[type="submit"] {
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 6px;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
        background-color: #e0e0e0;
    }
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid #777;
    border-radius: 4px;
}
